* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/*input[type]  {*/
/*  padding: 6px;*/
/*}*/

/*.MuiTextField-root {*/
/*  width: 100% !important;;*/
/*  margin: 6px !important;*/
/*  padding: 6px !important;*/
/*}*/
